{% extends "base.html" %}
{% block title %} Index Page ***** {% endblock %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/cards.css') }}">
{% endblock %}
{% block content %}
<!---------------------------------Banner TOP -------------------------------------------->
<!--Carousel begin-->

<!--Carousel end-->
<div class="container-fluid index-banner main_div">
        <div class="row container sub_div">
            <div class="col-lg-2 col-md-3 col-sm-8">
                <a href="{{ url_for('register') }}" class="btn btn-lg btn-primary">Regisztráció</a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-8">
                <a href="{{ url_for('races') }}" class="btn btn-lg btn-light">Találd meg a következő versenyed</a>
            </div>
        </div>
    </div>

<!--------------------------------Middle NAVBAR--------------------------------->
<nav id="mid-nav-country" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href='{{ url_for("home",country="Hungary", year=year, month=month) }}'>Magyarország</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMidcountry" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMidcountry">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', country='Slovakia', year=year, month=month) }}">Szlovákia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', country='Slovenia', year=year, month=month) }}">Szlovénia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', country='Poland', year=year, month=month) }}">Lengyelország</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', country='Austria', year=year, month=month) }}">Ausztria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', country='Germany', year=year, month=month) }}">Németország</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', country='Romania', year=year, month=month) }}">Románia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', country='Czech Republic', year=year, month=month) }}">Csehország</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', country='Croatia', year=year, month=month) }}">Horvátország</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', country='Switzerland', year=year, month=month) }}">Svájc</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', country='Italy', year=year, month=month) }}">Olaszország</a>
            </li>
        </ul>

    </div>
</nav>
<nav id="mid-nav2" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('home', month='all') }}">Összes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMid" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMid">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', year=year, country=country, month=1) }}">Január</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', country=country, year=year, month=2) }}">Február</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', country=country, year=year, month=3) }}">Március</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', country=country, year=year, month=4) }}">Április</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', country=country, year=year, month=5) }}">Május</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', country=country, year=year, month=6) }}">Június</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', country=country, year=year, month=7) }}">Július</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', country=country, year=year, month=8) }}">Augusztus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', country=country, year=year, month=9) }}">Szeptember</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', country=country, year=year, month=10) }}">Október</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', country=country, year=year, month=11) }}">November</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home', country=country, year=year, month=12) }}">December</a>
            </li>
        </ul>

    </div>
</nav>
<a href="{{ url_for('calendar_view') }}"><h2 class="text-center">Naptár Nézet</h2></a>
<!-----------------------------Cards Section----------------------------->

<section class="event-handler">
    <h1 class="text-center">{% if search_value %}
                                "{{search_value}}" Keresés eredménye {{ year }}-ben
                            {% else %}
                                {% if events_data[0] %}
                                {{ year }} {{ events_data[0].start_date.strftime("%B").title() }}
                                {% else %}Nincs találat erre az időszakra</h1>
                                <h5 class="text-center text-muted">{{ country }} {{ year }} {{ month }}. hónap</h5>
                                {% endif %}
                            {% endif %}

    <div class="row">
    <!--    <a class="widget-49-card-link" href="https://www.budapestfelmaraton.hu/">-->
    <!--        <div class="col-lg-4 col-md-6 col-sm-12">-->
    <!--            <div class="card card-margin">-->
    <!--                <div class="card-header no-border">-->
    <!--                    <h5 class="card-title">37. Wizz Air Budapest Félmaraton</h5>-->
    <!--                </div>-->
    <!--                <div class="card-body pt-0">-->
    <!--                    <div class="widget-49">-->
    <!--                        <div class="widget-49-title-wrapper">-->
    <!--                            <div class="widget-49-date-primary">-->
    <!--                                <span class="widget-49-date-month">szept</span>-->
    <!--                                <span class="widget-49-date-day">11</span>-->
    <!--                            </div>-->
    <!--                            <div class="widget-49-meeting-info">-->
    <!--                                <span class="widget-49-pro-title">PRO-08235 DeskOpe. Website</span>-->
    <!--                                <span class="widget-49-meeting-time">2022.09.11.</span>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        <div class="widget-49-meeting-points">-->
    <!--                             <img src="/static/image/wizzair.png" alt="Wizzair Félmaraton">-->
    <!--                        </div>-->
    <!--                         <div class="widget-49-meeting-action">-->
    <!--                            <a href="#" class="btn btn-sm btn-flash-border-primary">View All</a>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </a>-->
         {% for event in events_data %}
          <div class="col-lg-4 col-md-6 col-sm-12 card-holder">
                <div class="card">
                    <div class="card-body pt-0">
                        <a class="widget-49-card-link" href="{{ url_for('event', id=event.id) }}">
                        <span class="hyperspan">
                        <div class="widget-49">
                             <div class="widget-49-meeting-points">
                                 <img class="event-img" src="{{ event.event_pic_url }}" alt="{{ event.name }}">
                            </div>
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-primary">
                                    <span class="widget-49-date-month">{{ event.start_date.strftime('%b').title() }}</span>
                                    <span class="widget-49-date-day">{{ event.start_date.day }}</span>
                                </div>
                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title">{{ event.name }}</span>
                                </div>
                            </div>
                            <div class="widget-49-meeting-action">
                                <span class="widget-49-meeting-time text-center">{{ event.city }}</span>
                            </div>
                             <div class="widget-49-meeting-action">
                                 <span class="widget-49-meeting-time">{{ event.race_types }}</span>
                                <a href="#" class="btn btn-sm btn-flash-border-primary"></a>
                                <div class="row">
                                    <div class="col-4"><i class="fas fa-running mr-2"></i> {{ followers[event.id - 1] }} </div>
                                    <div class="col-8">{{ event.start_date }}{% if event.start_date != event.end_date %} - {{ event.start_date }}{% endif %}</div>
                                </div>
                            </div>
                        </div>
                        </span>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>
</section>

{% endblock %}