.card {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
    margin-right:auto;
    margin-left:auto;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 340px;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.card-holder {
    margin-top: 1rem;
}

.card .card-header {
    margin-top: 1rem;
    background: none;
    padding: 0;
    font-weight: 500;
    display: flex;
    align-items: center;
    min-height: 50px;
}


.widget-49 .widget-49-title-wrapper {
  display: flex;
  align-items: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #edf1fc;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-day {
  color: #4e73e5;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-month {
  color: #4e73e5;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-dark {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ebedee;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-day {
  color: #394856;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-month {
  color: #394856;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-base {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f0fafb;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}



.widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-pro-title {
  color: #3c4142;
  font-size: 18px;
}

.widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-meeting-time {
  color: #B1BAC5;
  font-size: 13px;

}

.widget-49 .widget-49-meeting-points {
  font-weight: 400;
  font-size: 13px;
  margin-top: 1rem;
  object-fit: cover;
  text-align: center;
  width: 100%;

}



.widget-49 .widget-49-meeting-points .widget-49-meeting-item {
  display: list-item;
  color: #727686;
}

.widget-49 .widget-49-meeting-action {
  text-align: center;
  color: #B1BAC5;
  font-size: 15px;
}

.widget-49 .widget-49-meeting-action a {
  text-transform: uppercase;
}

.widget-49-card-link, .widget-49-card-link:hover, .widget-49-card-link:focus .widget-49-card-link:active {
    text-decoration: none;
    color: inherit;
}

.hyperspan  {
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:1;
    border-radius: 8px;
}

.hyperspan:hover {
    background-color: gray;
    opacity: .3;

}
.event-img {
width: 300px;
height: 164px;
}

